<div id="<%= dom_id family_member %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Person:</strong>
    <%= family_member.person_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Family:</strong>
    <%= family_member.family_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Is parent:</strong>
    <%= family_member.is_parent %>
  </p>

</div>
