<div id="<%= dom_id path %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= path.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= path.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Created by:</strong>
    <%= path.created_by_id %>
  </p>

</div>
