<div id="<%= dom_id group_member %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Person:</strong>
    <%= group_member.person_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Group:</strong>
    <%= group_member.group_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Is leader:</strong>
    <%= group_member.is_leader %>
  </p>

</div>
