<div id="<%= dom_id guardianship %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Person:</strong>
    <%= guardianship.person_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Guardian:</strong>
    <%= guardianship.guardian_id %>
  </p>

</div>
