<div id="<%= dom_id attendance %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Person:</strong>
    <%= attendance.person_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Event:</strong>
    <%= attendance.event_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Attended at:</strong>
    <%= attendance.attended_at %>
  </p>

</div>
